
.change-form{
margin-left:30%;
margin-top:8%;
margin-right:35%;
height:280px;
background:rgb(240, 240, 240);
position:relative

}

.username{
margin-left:50px;
margin-right:50px;
padding-top:10px;
font-size:15px
}

.password{
margin-left:50px;
margin-right:50px;
font-size:15px
}

.submit-btn{
margin-left:40%;
}

.login{
background:#1E2B52;
border-radius:5px;
height: 45px;
}

.login-btn{
background:#1E2B52;
color:#fff
}

.alert-error-message{
margin-left:30%;
margin-top:2%;
margin-right:35%
color:'red';
font-size:15px
}
.change-card{
margin-left:32%;
margin-top:8%;
margin-right:35%;
height:280px;
}

.info-background{
background-color: #1E2B52 !important;
}

.btn-back{
background-color:#1E2B52;
font-weight:200
}
.back{
background:rgb(240,240,240)
}

.custom{
color:#FF0000;
margin-left:35%;
margin-top:2%
}
